body {
	background-repeat: repeat-x;
	background-color: #FFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.txTitle {
	font-family: Arial, Helvetica, sans-serif;
	color: #BC143B;
}
.mText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#thebox {
	width: 1026px;
	margin: 0 auto;
	background-image: url(../images/bg_layout.png);
	background-repeat: repeat-y;
}
#header {
	width: 986px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}
#navigation {
	width: 986px;
	padding-left: 20px;
	padding-right: 20px;
	height: 70px;
	background-image: url(../images/bg_nav.png);
	background-repeat: no-repeat;
	background-position: top;
}
#nav_inner {
	text-align: left;
	padding-left: 7px;
}
#body {
	padding-left: 30px;
	padding-right: 30px;
}
#footer {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}
#bottom {
	background-color: #FFF;
}
a:link {
	text-decoration: none;
	color: #BC143B;
}
a:visited {
	text-decoration: none;
	color: #BC143B;
}
a:hover {
	text-decoration: underline;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #BC143B;
}
